*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: skyblue;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container{
    border: 2px solid skyblue;
    margin-top: 200px;

}
textarea{
    height: 400px;
    width: 500px;
    resize: none;
    font-size: 28px;
    padding: 20px;
    outline: none;
    border-radius: 5px;
    color: chocolate;
    background-color: skyblue;
}
p{
    color: chocolate;
    text-align: right;
    margin-top: 30px;
    font-size: 40px;
    margin-left: 30px;
}